.App {
  text-align: center;
}

.App-logo {
  width: 120px;
  height: auto;
}

.App-logo-text {
  font-size: 40px;
}

.App-header {
  background-image: linear-gradient(45deg, #43c6ac, #191654);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
